<!--SIGN UP-->
<section class="h-full font-serif flex items-center justify-center px-4 sm:px-6 lg:px-8 mt-10 mb-10">
    <div class="md:w-[375px] bg-white rounded-lg shadow justify-center" *ngIf="registrationStatus === null">
      <div class="p-6 space-y-5 border border-double border-light_b rounded-lg place-items-center">
        <h1 class="text-2xl kalnia-font">Sign up now</h1>
        <form 
          class="w-full p-4 space-y-3 mx-auto place-items-center mx-5" 
          [formGroup]="register_Form" 
          (ngSubmit)="handleRegister()"
        >
          <!-- Email Input -->
          <div class="w-full border border-double p-2 rounded-lg">
            <input 
              type="text" 
              formControlName="register_email" 
              id="register_email" 
              placeholder="Your email" 
              class="focus:outline-none w-full" 
              required
            />
            <div *ngIf="signup_submitted && register_Form.controls.register_email.errors?.['required']">
              <p class="form-error">Email is required.</p>
            </div>
            <div *ngIf="signup_submitted && register_Form.controls.register_email.errors?.['invalidEmail']">
              <p class="form-error">Please enter a valid email address.</p>
            </div>
          </div>
  
          <!-- Username Input -->
          <div class="w-full border border-double p-2 rounded-lg">
            <input 
              type="text" 
              formControlName="register_username" 
              id="register_username" 
              placeholder="Your username" 
              class="focus:outline-none w-full" 
              required
            />
            <div *ngIf="signup_submitted && register_Form.controls.register_username.errors?.['required']">
              <p class="form-error">Username is required.</p>
            </div>
            <div *ngIf="signup_submitted && register_Form.controls.register_username.errors?.['invalidUsername']">
              <p class="form-error">Username must be between 3 and 20 characters, and may only contain alphanumeric characters and underscores.</p>
            </div>
          </div>
  
          <!-- Password Input -->
          <div class="w-full border border-double p-2 rounded-lg">
            <input 
              type="password" 
              formControlName="register_pass1" 
              id="register_password1" 
              placeholder="Your password" 
              class="focus:outline-none w-full" 
              required
            />
            <div *ngIf="signup_submitted && register_Form.controls.register_pass1.errors?.['required']">
              <p class="form-error">Password is required.</p>
            </div>
            <div *ngIf="signup_submitted && register_Form.controls.register_pass1.errors?.['minlength']">
              <p class="form-error">Password should contain at least 8 characters.</p>
            </div>
            <div *ngIf="signup_submitted && register_Form.controls.register_pass1.errors?.['invalidPassword']">
              <p class="form-error">Password must be 8-16 characters long, with at least one uppercase letter, one lowercase letter, one number, and one special character.</p>
            </div>
          </div>
  
          <!-- Confirm Password Input -->
          <div class="w-full border border-double p-2 rounded-lg">
            <input 
              type="password" 
              formControlName="register_pass2" 
              id="register_password2" 
              placeholder="Confirm your password" 
              class="focus:outline-none w-full" 
              required
            />
            <div *ngIf="signup_submitted && register_Form.errors?.['passwordMismatch']">
              <p class="form-error">Passwords do not match.</p>
            </div>
          </div>
    
          <!-- Submit Button -->
          <div class="w-full">
            <div class="flex justify-center mx-auto my-3" *ngIf="isLoading">
              <app-throbber></app-throbber>
            </div>
            <button 
              type="submit" 
              class="w-full border border-double rounded-lg bg-bl text-[color:white] text-xl py-2"
              *ngIf="!isLoading"
            >
              Sign up
            </button>
          </div>
        </form>
  
        <div>
          <p class="text-[color:gray] text-sm">Already have an account? <a routerLink="/public/homepage" class="link">Log in</a></p>
        </div>
      </div>
    </div>

    <!-- Success Message -->
    <div *ngIf="registrationStatus === 'success'">
      <div class="md:w-[375px] bg-white rounded-lg shadow justify-center">
        <div class="p-10 space-y-5 border border-double border-light_b rounded-lg place-items-center">
          <h1 class="text-3xl text-[color:green]">Sign up completed!</h1>
          <p class="py-3 text-xl">{{ successMessage }}</p>
          <button class="link w-[130px] border border-double rounded-lg bg-bl text-[color:white] py-2" routerLink="/public/homepage">Return to Log in</button>
        </div>
      </div>
    </div>
    
    <!-- Error Message -->
    <div *ngIf="registrationStatus === 'error'">
      <div class="md:w-[375px] bg-white rounded-lg shadow justify-center">
        <div class="p-10 space-y-5 border border-double border-light_b rounded-lg place-items-center">
          <h1 class="text-3xl text-[color:red]">Error during Sign up</h1>
          <p class="py-3 text-xl">{{ errorMessage }}</p>
          <div class="flex flex-row items-center gap-10 justify-evenly">
            <button class="link w-[130px] border border-double rounded-lg bg-bl text-[color:white] py-2" (click)="returnToSignup()">Retry</button>
            <button class="link w-[130px] border border-double rounded-lg bg-bl text-[color:white] py-2" routerLink="/public/homepage">Return to Log in</button>
          </div>
        </div>
      </div>
    </div>
</section>


  