.countdown-timer {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
}

.countdown-timer p {
    font-weight: bold;  
}

.timer {
    font-family: "Open Sans";
}