.kalnia-font{
  font-family: "Kalnia";
}

.dm-serif-display-font{
  font-family: "DM Serif Display";
}

.chatgpt-text {
  color: #E0D7F6;
  box-shadow: #000;
  transition: color 0.3s ease, box-shadow 0.3s ease;
}
  
@media (max-width: 768px) {
  .chatgpt-text {
      color: #333; 
      box-shadow: none; 
  }
}

@keyframes tilt {
  0%, 100% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg); 
  }
}
  
.tilt-animation {
  animation: tilt 1s ease-in-out;
  animation-iteration-count: 5; 
  transform-origin: center bottom;
}
  



  
  