<footer class="w-full bg-light_lilac p-12 text-bl font-serif">
    <div class="flex flex-col items-center lg:flex-row lg:justify-between text-center">
        <ul class="lg:text-center lg:text-left inline hidden lg:inline">
            <li>Emilia Napolano</li>
            <li>Curricular Internship</li>
            <li>Bachelor&#39;s degree course in Computer Science at the University of Naples Federico II</li>
        </ul>
        <div class="flex flex-col items-center lg:flex-row lg:justify-between text-center lg:text-right">
            <ul class="lg:self-end lg:justify-self-end lg:text-right">
                <li>What&#39;s the process behind the challenge? <span style="color: lilac" class="h-5 mb-1 inline hidden lg:inline">◆</span></li>
                <li>Thesis work <span style="color: lilac" class="h-5 mb-1 inline hidden lg:inline">◆</span></li>
                <li><a routerLink="/public/about-us" class="link">About us </a> <span style="color: lilac" class="h-5 mb-1 inline hidden lg:inline">◆</span></li>
            </ul>
        </div>
    </div>
</footer>
